name: Nx Docker Builder

on: ["push"]

jobs:
  build:
    name: Build Nx Builder
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node:
          #  12 LTS
          - 12.10-alpine
          - 12.11-alpine
          - 12.12-alpine
          - 12.13-alpine
          - 12.14-alpine
          - 12.15-alpine
          - 12.16-alpine
          - 12.17-alpine
          - 12.18-alpine
          - 12.19-alpine
          # 13
          - 13.10-alpine
          - 13.11-alpine
          - 13.12-alpine
          - 13.13-alpine
          - 13.14-alpine
          # 14 LTS
          - 14.6-alpine
          - 14.7-alpine
          - 14.8-alpine
          - 14.9-alpine
          - 14.10-alpine
          - 14.11-alpine
          - 14.12-alpine
          - 14.13-alpine
          - 14.14-alpine
          - 14.15-alpine
          - 15.0-alpine
          - 15.1-alpine
          - 15.2-alpine
          - 15.3-alpine
          - 15.4-alpine
          - 15.5-alpine
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Docker meta
        id: docker_meta
        uses: crazy-max/ghaction-docker-meta@v1
        with:
          images: |
            gperdomor/nx-docker
            ghcr.io/gperdomor/nx-docker

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: |
            ghcr.io/gperdomor/nx-docker:${{ matrix.node }}
            gperdomor/nx-docker:${{ matrix.node }}
          labels: ${{ steps.docker_meta.outputs.labels }}
          build-args: |
            NODE_VERSION=${{ matrix.node }}

      - name: Image ditagsgest
        run: echo ${{ steps.docker_build.outputs.digest }}
